<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="ggcode"
    Manufacturer="topcheer"
    Version="$(var.Version)"
    UpgradeCode="$(var.UpgradeCode)"
    Language="1033"
    InstallerVersion="500"
    Scope="perMachine">
    <SummaryInformation
      Description="ggcode terminal AI coding agent"
      Manufacturer="topcheer"
      Keywords="Installer" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of ggcode is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="MainFeature" Title="ggcode" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ggcode" FileSource="$(var.SourceDir)" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" FileSource="$(var.SourceDir)">
      <Component Id="MainExecutableComponent" Guid="*">
        <File Id="MainExecutableFile" Name="ggcode.exe" KeyPath="yes" />
        <Environment
          Id="AddInstallDirToPath"
          Name="PATH"
          Action="set"
          Part="last"
          Permanent="no"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainComponents">
      <ComponentRef Id="MainExecutableComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>
